.no-users {
  color: white;
  background-color: blue;
  padding: 20px;
  font-weight: bolder;
  margin: 10px 0px 0px 10px;
}
.panel {
  margin-top: 5px;
}

.email {
  cursor: pointer;
}

.panel-heading {
  text-align: center;
}
.panel-block {
  justify-content: center;
}
